body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
    background-color: #c68c27; 
    color: #333;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background-color: #45a049;
}
